.header {
    width: 100%;
    background-color: #FFE600;
    height: 60px;
    .content-header {
        margin: auto;
        width: 80%;
        padding-top: 10px;
        .header-logo {
            width: 5%;
            float: left;
            img {
                height: 40px;
            }
            
        }

        .content-input {
            width: 90%;
            float: left;
            padding-left: 10px;
            display: flex;
            input {
                width: 100%;
                height: 35px;
                border-radius: 5px 0px 0px 5px;
                border: 1px solid #EEEEEE;
            }

            button {
                font-size: 16px;
                float: left;
                background-color: #EEEEEE;
                border: 1px solid #EEEEEE;
                border-radius: 0px 5px 5px 0px;
                color: #999999;
            }
        }
    }
}